/*This probably isn't breaking anything */
#appContent {
  min-height: 100%;
  position: relative;
}

#mainView {
  padding-bottom: 5rem;
}

.footer {
  border-top: 2px dashed #AAA;
  position: absolute;
  height: 5rem;
  width: 100%;
  bottom: 0;
}

.footer .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer p {
  margin: auto 0;
  text-align: center;
}

.footer .ab-brand {
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  font-style: italic;
}

@media screen and (max-width: 767px) {
  .footer p {
    text-align: left;
  }
}
