<div class="row-offcanvas row-offcanvas-left container"
  ng-class="{active: sidebarActive}">
  <div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
      <h4>Upcoming Events</h4>
      <div ng-repeat="e in events" class="event">
        <b>{{e.title}}</b>
        <p>{{e.description}}
          <a ng-href="{{e.link}}" target="_blank">{{e.linktext}}</a>
        </p>
      </div>
    </div>
  </div>

  <div id="main">
    <p class="visible-xs-block">
      <button type="button" class="btn btn-default btn-xs"
        ng-click="sidebarActive = !sidebarActive">
        Events
      </button>
    </p>

    <div class="col-md-12">
      <h1 class="text-left">About me</h1>
      <p>{{content}}</p>
    </div>

  </div>
</div>

<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
  <h3>{{support.title}}</h3>
  <p>{{support.description}}</p>
  <!-- Add scripts for payment buttons here -->
  <!-- end Payment Buttons -->
</div>
