<div class="container text-center">
  <h1 class="text-center">{{galleryTitle}}</h1>
  <p>{{galleryDescription}}</p>

  <div id="galleryCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators --><!-- end Indicators -->
    <!-- Items -->
    <div class="carousel-inner" ng-repeat="w in works">
      <div class="item" ng-class="{active: w.active}">
        <img ng-src="assets/images/galleries/{{galleryName}}/{{w.image}}"
          alt="image not found" class="img-responsive center-block"></img>
        <h3>{{w.title}} <i>{{w.price}}</i></h3>
        <p>{{w.description}}</p>
      </div>
    </div><!-- end Items -->
    <!-- Nav -->
    <a class="carousel-control left" ng-click="prev()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" ng-click="next()">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
